.mapBlock {
  width: 100%;
  min-height: 750px;
  background-color: #f1dd81;
  border-radius: 20px;
}


.zoomBtn {
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 36px;
  height: 38px;
  margin-left: 10px;
  font-size: 30px;
  color: #666666;
  padding-top: 5px;
  padding-left: 6px;
  cursor: pointer;

  &:hover {
    background-color: #d3c16f;
    color: #FFFFFF;
  }
}


.filterContainer {
  width: calc(100% - 40px);
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}
.filters {
}
.addYours {
  width: 150px;
  height: 36px;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #f1dd81;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 5px 10px 5px;
  cursor: pointer;

  .addYoursText {
    padding-top: 5px;
    font-size: 20px;
    color: #000000;
  }
  .addYoursCircle {
    background-color: #f1dd81;
    border-radius: 50%;
    width: 35px;
    height: 27px;
    padding-top: 8px;
    text-align: center;
  }

  &:hover {
    background-color: #f1dd81;
    border: 1px solid #FFFFFF;
    .addYoursText {
      color: #FFFFFF;
    }
    .addYoursCircle {
      background-color: #FFFFFF;
    }
  }
}





.hoodmapsTag {
  font-weight: 900;
  -webkit-text-fill-color: #f49b28;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666666;
}

.imageTag {

  img {
    width: 40px;
    height: auto;
    border: 1px solid #f1dd81;

    &:hover {
      border: 2px solid #000000;
    }
  }
}
