$xl: 1200;
$lg: 960;
$md: 768;
$sm: 320;


$logoWidth: 392;
$logoHeight: 440;
$enterWidth: 100;
$enterLeft: 28;


$logoWidthMobile: 268;
$logoHeightMobile: 300;
$enterWidthMobile: 80;
$enterLeftMobile: 20;



$maxWidth: 1200;
