.detailsOuterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mediaDetailsContainer {
  width: 50%;
  background-image: linear-gradient(#F2F2F2, #FAFAFA);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.imageDetailsContainer {
  img {
    height: 95%;
    width: 95%;
    object-fit: cover;
  }
}
.audioDetailsContainer {

}

.contentDetailsContainer {
  width: calc(50% - 20px);
  padding-left: 20px;
}

.captionsTitle {
  background-color: #F2F2F2;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 0;
}
.captionsBody {
  background-image: linear-gradient(#F2F2F2, #FAFAFA);
  height: 340px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.authorBody {
  margin-top: 20px;
  font-size: 16px;
}
